<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Home</h1> 
   <a href="/babbage"><img src="/img/CharlesBabbage.jpg" alt= "Charles Babbage"></a>
   <a href="/berners-lee"><img src="/img/Sir_Tim_Berners-lee_(cropped).jpg" alt= "berners-lee"></a>
   <a href="/clarke"><img src="/img/clarke.jpg" alt= "clarke"></a>
   <a href="/turing"><img src="/img/220px-Alan_Turing_Aged_16.jpg" alt= "turing"></a>
   <a href="/lovelace"><img src="/img/Linda_Lovelace.jpg" alt= "lovelace"></a>
   <a href="/hopper"><img src="/img/Edward_Hopper.jpg" alt= "hopper"></a>
   <a href="/hamilton"><img src="/img/Alexander_Hamilton.jpg" alt= "hamilton"></a>
</body>
</html>