<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linda Lovelace</title>
</head>
  <body>
       <a href="/">Inicio</a>
       <a href="/lovelace">Linda Lovelace</a>
   <h1>Linda Lovelace</h1>
       <img src="/img/Linda_Lovelace.jpg" alt= "">
        <p>Nació en el seno de una familia de clase trabajadora. Hija de un policía, creció en Yonkers, Nueva York, donde asistió a una escuela católica.1​ Según su autobiografía (intitulada Ordeal ("sufrimiento", en inglés), tuvo un hijo en 1969, cuando tenía 20 años, y su madre la convenció para que diera al niño en acogida hasta que estuviera preparada para cuidar de él. Más tarde, descubrió que su madre en realidad había dado al niño en adopción, y nunca más volvió a verlo. Su familia se traslada a Florida, aunque ella regresa a Nueva York en 1970. Tras verse involucrada en un grave accidente de coche, regresa a casa de sus padres en Florida, para recuperarse.</p>
  </body>
</html>